.SignupPage
  .SignupPage__header
  
  .SignupPage__main
    .SignupPage__main__title 会員情報入力

    .SignupPage__main__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

        .FormField
          .FormField__label--normal
            = f.label :nickname
          .FormField__input--normal
            = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太朗"
        .FormField
          .FormField__label--normal
            = f.label :email
          .FormField__input--normal
            = f.email_field :email, placeholder: "PC・携帯どちらでも可"
        .FormField
          .FormField__label--normal
            = f.label :password
            %i (英数字8文字以上)
          .FormField__input--normal
            = f.password_field :password, autocomplete: "off", placeholder: "8文字以上の半角英数字"
        .actions
          = f.submit "Create Account", class: 'Button UserButton'



