.mypage__header
  .mypage__header__inner
    .mypage__header__top
      %h1.hurima__icon
      = link_to "/itens/index" do
        = image_tag "logo/logo.png", width: "134px", height: "34px"
      %form.form{action: "#"}
        %input.form__input{type: "search", name: "keyword", placeholder: "何かお探しですか？"}
    .mypage__header__nav__box
      .left
        .category
          = link_to "#" do
            = image_tag "icon_category.png", width: "16px", height: "13px"
        .category__text
          = link_to '#' do
            %p.left__font カテゴリーから探す
        .brand
          = link_to "#" do
            = image_tag "icon_brand.png", width: "17px", height: "12px"
        .brand__text
          = link_to '#' do
            %p.left__font ブランドから探す
      %ul.right
        %li.heart.right-info
          = link_to '#', class: "right-link" do
            = icon('far', 'heart')
            .heart__font いいね！一覧
        %li.notice.right-info
          = link_to '#', class: "right-link" do
            = icon('far', 'bell')
            .notice__font お知らせ
        %li.todo.right-info
          = link_to '#', class: "right-link" do
            = icon('fas', 'check')
            .todo__font やることリスト
        %li.mypage.right-info
          = link_to '#', class: "right-link" do
            = image_tag "member_photo_noimage_thumb.png", width: "20px", height: "20px", class: "right-link-img" 
            .mypage__font マイページ
.mypage__nav
  .mypage__nav__contents
    .nav__furima
      = link_to '#' do
        %p.hurima__text フリマ
    .right__angle
      = icon('fas', 'angle-right')
    .mypage__text マイページ