.mypage__header
  .mypage__header__inner
    .mypage__header__top
      %h1.hurima__icon
      = link_to "#" do
        = image_tag "logo/logo.png", width: "134px", height: "34px"
      %form.form{action: "#"}
        %input.form__input{type: "search", name: "keyword", placeholder: "何かお探しですか？"}
    .mypage__header__nav__box
      %nav.left
        .category
          = link_to "#" do
            = image_tag "icon_category.png", width: "15.03px", height: "12px"
        = link_to "カテゴリーから探す", class: 'category__text'
        .brand
          = link_to "#" do
            = image_tag "icon_brand.png", width: "16.98px", height: "12px"
        = link_to "ブランドから探す", class: 'brand__text'
      %nav.right
        .heart
          = link_to '#' do
            = icon('far', 'heart')
            %p.heart__text いいね！一覧
        .notice
          = link_to '#' do
            = icon('far', 'bell')
            %p.bell__text お知らせ
        .todo
          = link_to '#' do
            = icon('fas', 'check')
            %p.check__text やることリスト
        .mypage
          = link_to '#' do
            = image_tag "member_photo_noimage_thumb.png", width: "20px", height: "20px" 
            %p.my__page__text マイページ
.mypage__nav
  .mypage__nav__contents
    %li.nav__hurima
      = link_to "#" do
        %span.hurima__text フリマ
        %i.fas.fa-angle-right.fa-1.5x
    %li.nav__mypage
      %span.mypage__text マイページ
.mypage__main
  .mypage__main__content
    .side
      %ul.list
        %li.list__mypage
          = link_to '#' do
            .list__mypage__text マイページ
            %i.fas.fa-angle-right.fa-1.5x
    .center
.mypage__banner
.mypage__footer