.header
  .title-bar
    = link_to image_tag("logo/logo.png", class: "logo"), "#"

.floor
  .content
    .content2
      .content3
        .text 購入内容の確認

      .content3
        .purchase
          .image

.footer
  .description
    .description__bar
      %ul.description__list
        %li.description__lists
        = link_to 'プライバシー', '#', class: "description__link"
        %li.description__lists
        = link_to 'FURIMA利用規約', '#', class: "description__link"
        %li.description__lists
        = link_to '特定商取引に関する表記', '#', class: "description__link"
    .image
      %h1.app-title
        = link_to image_tag("logo/logo-white.png", class: "logo"), "#"
      %p.image__copyright
        © FURIMA, Inc.
