.title-bar
  .title-bar2
    = link_to image_tag("logo/logo.png", class: "logo"), "#"

.floor
  .content
    .exhibition
      .title
        %label.label 出品画像
        %span.tag 必須
        .exhibition__sentence 最大10枚までアップロードできます
        .exhibition__photo
          .exhibition__icon
            = link_to '#' do
              = icon('fas', 'camera fa-lg')
          %p.exhibition__text
            ドラッグアンドドロップ 
            %br 
            またはクリックしてファイルをアップロード

.floor2   
  .description
    .description__bar
      %ul.description__list
        %li.description__lists
        = link_to 'プライバシー', '#', class: "description__link"
        %li.description__lists
        = link_to 'FURIMA利用規約', '#', class: "description__link"
        %li.description__lists
        = link_to '特定商取引に関する表記', '#', class: "description__link"
    .image
      %h1.app-title
        = link_to image_tag("logo/logo-white.png", class: "logo"), "#"
      %p.image__copyright
        © FURIMA, Inc.
