%body
  .header
    .header__inner
      .header__top
        %h1.hurima__icon
        = link_to "#" do
          = image_tag "logo/logo.png", width: "134px", height: "34px"
        %form.form{action: "#"}
          %input.form__input{type: "search", name: "keyword", placeholder: "何かお探しですか？"}
            = image_tag "icon-search 1.png", width: "40px", height: "40px"
      .header__nav__box
        %nav.left
          %ul.left__nav
            %li.category
              %h2.category__h2 
                = link_to "#" do
                  = image_tag "icon_category.png", width: "15.03px", height: "12px"
              %span.category__text カテゴリーから探す
            %li.brand
              %h2.brand__h2
                =link_to "#" do
                  = image_tag "icon_brand.png", width: "16.98px", height: "12px"
        %nav.right
          %ul.right__nav
            %li.heart
              %h2.iine
                = link_to '#' do
                  %i.far.fa-heart.fa-1.5x
                  %span.iine__text いいね！一覧
            %li.notice
              %h2.bell
                = link_to '#' do
                  %i.far.fa-bell.fa-1.5x
                  %span.bell__text お知らせ
            %li.todo
              %h2.check
                = link_to '#' do
                  %i.fas.fa-check.fa-1.5x
                  %span.check__text やることリスト
            %li.mypage
              %h2.myimage
                = link_to '#' do
                  = image_tag "member_photo_noimage_thumb.png", width: "32px", height: "32px" 
  .nav
    .nav__contents
      %li.nav__hurima
        = link_to "#" do
          %span.hurima__text フリマ
          %i.fas.fa-angle-right.fa-1.5x
      %li.nav__mypage
        %span.mypage__text マイページ
  .main
    .main__content
      .side
        %ul.list
          %li.list__mypage
            = link_to '#' do
              .list__mypage__text マイページ
              %i.fas.fa-angle-right.fa-1.5x
      .center
  .banner
  .footer