.header
  .title-bar
    = link_to image_tag("logo/logo.png", class: "logo"), "#"

.floor
  .content
    .content2
      .content3
        .text 購入内容の確認

      .content3
        .purchase
          .purchase__images
            = link_to image_tag("icons/icon_category.png", class: "gazou"), "#"
          .purchase__name
            商品名
            %p.purchase__price
              %span.purchase__tax
                送料込み (税込)
              %spam.purchase__cost
                ¥2,280

      .content3
        .money
          %span
            支払い金額
          %span.money__price
            ¥2,280
        .select
          .select__type
            %span.select__box
              %span.select__checkbox
                = form_with class: "check-box", method: :post, local: true do |form|
                  = form.check_box :content
              %p.select__icon
                = image_tag "icons/icon_brand.png", class: "icon"
              %p.select__text
                dポイント
          .button
            = link_to "dアカウント連携", "#", class: "button1"
        .select2
          .select__type
            %span.select__box
              %span.select__checkbox
                = form_with class: "check-box", method: :post, local: true do |form|
                  = form.check_box :content
              %p.select__icon
                = image_tag "icons/icon_category.png", class: "icon"
              %p.select__text
                ポイント
          %p.point
            所持ポイント : P0
        .select3
          .select__type
            %span.select__box
              %span.select__checkbox
                = form_with class: "check-box", method: :post, local: true do |form|
                  = form.check_box :content
              %p.select3__text
                メルペイ残高の使用
          %p.point
            残高 : ¥85
        .explain
          同時に選択した場合、メルカリポイント → メルペイ残高の順でお支払いに適用されます

      .content3
        .section
          .section__text
            支払い方法
          .section__icon
            = link_to '#' do
              = icon('fas', 'plus-circle')
            .section__entry
              = link_to '登録してください', '#'

      .content3
        .section
          .section__text
            配送先
          .section__icon
            = link_to '#' do
              = icon('fas', 'plus-circle')
            .section__entry
              = link_to '登録してください', '#'
      
      .content4
        .purchase-button
          = link_to "購入する", card_new_path, class: "button2"


.description
  .description__bar
    %ul.description__list
      %li.description__lists
      = link_to 'プライバシー', '#', class: "description__link"
      %li.description__lists
      = link_to 'FURIMA利用規約', '#', class: "description__link"
      %li.description__lists
      = link_to '特定商取引に関する表記', '#', class: "description__link"
  .image
    %h1.app-title
      = link_to image_tag("logo/logo-white.png", class: "logo"), "#"
    %p.image__copyright
      © FURIMA, Inc.
