
.top
  .header
    .header__main
      = link_to image_tag("logo/logo.png", class:"header__main__icon"), "#"
      .search
        .box
          %form{"accept-charset" => "UTF-8", :action => "#", :method => "get",class:"box_internal"}
            %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
          = link_to "#" do
            %button{:type => "submit", class:"searchBox__icon"}
              = image_tag "icon/icon-search 1.png",class:"bottom"
    .nav
      .listsleft
        .listsleft__category
          = link_to "カテゴリー", "#", class: "btn"
        .listsleft__brand
          = link_to "ブランド", "#", class: "btn" 
      .listsright
        .listsright__login
          = link_to "ログイン", "#", class: "btn"
        .listsright__sign-up
          = link_to "新規会員登録", "#", class: "btn" 
.main
  .visual
    .content
      .content__subtitle
        人生を変えるフリマアプリ
      .content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"
  .topintroduction
    .subtitle
      FURIMAが選ばれる3つの理由
    .lists
      .list
        .list__pict
          %span.number 1
          = image_tag "pict/pict-reason-01.jpg",class:"bottom"
        .list__text
          %span.limit 3分
          ですぐに出品
        %p.list__description スマホで入力するだけで簡単に出品できる！
      .list
        .list__pict
          %span.number 2
          = image_tag "pict/pict-reason-02.jpg",class:"bottom"
        .list__text
          %span.limit シンプル
          で使いやすい
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      .list
        .list__pict
          %span.number 3
          = image_tag "pict/pict-reason-03.jpg",class:"bottom"
        .list__text
          手数料
          %span.limit 業界最安
        %p.list__description 最大3%でお得に出品&購入！
  .topmibbledl
    .topmibbledl__iner
      .sub
        会員数日本一位
      .text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"
  .topkeyfeatures
    .subtitle
      FURIMAの特徴
    .items
      .item
        = image_tag "icon/icon-01.png",class:"item__img"
        .item__subtitle
          簡単に売り買いできる
        %p.item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        = image_tag "icon/icon-03.png",class:"item__img"
        .item__subtitle
          売上金は即日振込みに対応
        %p.item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        = image_tag "icon/icon-04.png",class:"item__img"
        .item__subtitle
          様々な支払いに対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .picupcontainer
    .head__title
      ピックアップブランド
    .probuctbox
      = link_to "新規投稿商品", "#", class: "probuctbox__title" 
      .probuctbox__listss
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
  .picupcontainer
    .head__title
      ピックアップブランド
    .probuctbox
      = link_to "アーカイブ", "#", class: "probuctbox__title" 
      .probuctbox__listss
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
        .probuctbox__product
          = link_to "#", class:"photos" do
            = image_tag "pict/beef.png", class:"photos_photo"
            .photos__body
              .photos__body__name
                テスト
              .photos__body__details
                %ul.fee
                  %li.fee__pay
                    10000円
                  %li.fee__pay
                    = icon('fas', 'star')
                    1
                %p.tax （税込）
.appbanner
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__btn
      .abtn
        =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
      =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"
.footer
  .contents
    .content
      .content__head
        FURIMAについて
      %ul.content__details
        %li.detail
          = link_to "会社概要（運営会社）","#", class:"detail__list"
          %br
          = link_to "プライバシーポリシー","#", class:"detail__list"
          %br
          = link_to "FURIMA利用規約","#", class:"detail__list"
          %br
          = link_to "ポイントに関する特約","#", class:"detail__list"
    .content
      .content__head
        FURIMAを見る
      %ul.content__details
        %li.detail
          = link_to "カテゴリー一覧","#", class:"detail__list"
          %br
          = link_to "ブランド一覧","#", class:"detail__list"
    .content
      .content__head
        ヘルプ＆ガイド
      %ul.content__details
        %li.detail
          = link_to "FURIMAガイド","#", class:"detail__list"
          %br
          = link_to "FURIMAロゴ利用ガイドライン","#", class:"detail__list"
          %br
          = link_to "お知らせ","#", class:"detail__list"
  .footer__logo
    =link_to image_tag( "logo/logo-white.png", class:"image" ),"#"
  %p.footer__copyright© FURIMA
= link_to "#" do
  .purchasebotn
    %span.purchasebotn__text 出品する
    = image_tag "icon/icon_camera.png",class:"purchasebotn__icon"



