= render partial: 'items/header'
.show_main
  .show_main_main
    .contentLeftpp
    .contentRight
      .contentRight_content
        .itemBox
          .itemBox_name
            = @item.name
          .itemBox_body
            %ul.Product
              %li.product
                = image_tag @item.item_images[0].src.url, class:"product_photo"
                %ul.Mini
                  .mini
                    - @item.item_images.each do |img|
                      = image_tag img.src.url, class:"mini_photo"
          .itemBox_price
            %spen.itemBox_price_pay 
              ¥
              =  @item.price

          - if @item.buyer_id.present? && @item.seller_id != current_user.id
            .itemBox_button
              .PayBtn SOLD 
          - elsif user_signed_in? && @item.seller_id != current_user.id
            .itemBox_button
              = link_to "購入画面に進む", purchase_item_path, class: "PayBtn"
          - elsif user_signed_in? && @item.seller_id == current_user.id
            .itemBox_button
              = link_to "削除", item_path(@item.id), method: :delete, class: "PayBtn"
            .itemBox_button
              = link_to "編集", edit_item_path(@item.id), class: "PayBtn"
          - else
            .itemBox_button
              = link_to "購入画面に進む", new_user_session_path, class: "PayBtn"
          .itemDetail
            = @item.introduction
          .Table
            %table.Table_table
              %tbody.tbody
                %tr.tr
                  %th.th 出品者
                  %td.td 
                    = @item.seller.nickname
                %tr.tr
                  %th.th カテゴリー
                  %td.td
                    = link_to @category_ancestor.name, "#" 
                    %br
                    = link_to @category_child.name, "#"
                    %br
                    = link_to @category.name, "#"
                %tr.tr
                  %th.th ブランド
                  %td.td 
                    = @item.brand
                %tr.tr
                  %th.th 商品の状態
                  %td.td 
                    = @item.condition.name
                %tr.tr
                  %th.th 配送料の負担
                  %td.td 
                    = @item.shipping_date.name
                %tr.tr
                  %th.th 発送元の地域
                  %td.td
                    = link_to @item.delivery_source_area.name, "#"
                %tr.tr
                  %th.th 発送日の目安
                  %td.td 
                    = @item.postage.name
          .optionalArea
            %ul.optionalArea_ul
              %li.linkBtn
                .fa
                  = icon('fas', 'star')
                  お気に入り 1
            %ul.optionalArea_ul
              %li.optionalBtn
                = link_to "#", class: "report" do
                  = icon('fas', 'flag')
                  不適切な商品の通報
        .commentoBox
          %ul.commentContents
          %form{"accept-charset" => "UTF-8", :action => "#", :method => "post",class:"new_comment",}
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form_with url: "/posts", method: :post, local: true do |form|
            = form.text_area :content, size: "70.5x4", class: "formTextArea"
          = link_to "#" do
            %button{:type => "submit", class:"commentBtn"}
              = icon('fas', 'comment')
              コメントをする
      %ul.contentRight_links
        %li.link_left
          = link_to "#" do
            = icon('fas', 'angle-left')
            前の商品
        %li.link_right
          = link_to "#" do
            後ろの商品
            = icon('fas', 'angle-right')
      .picupcontainer
        .probuctbox
          = link_to "レディースをもっと見る", "#", class: "probuctbox__title" 
          .probuctbox__listss
            .probuctbox__product
              = link_to "#", class:"photos" do
                = image_tag @item.item_images[0].src.url, class:"photos_photo"
                .photos__body
                  .photos__body__name
                    = @item.name
                  .photos__body__details
                    %ul.fee
                      %li.fee__pay
                        =  @item.price
                      %li.fee__pay
                        = icon('fas', 'star')
                        1
                    %p.tax （税込）
= render partial: 'items/footer'