.credit-card2__registration
  .credit-card2__registration__text クレジットカード情報入力
  %form.credit__form
    .registration__contents
      .card__number
        .card__number__text 
          .number__text カード番号
          .must__number 必須
        %input.numbers__text{type: "text", placeholder: "半角数字のみ"}
        .card__number__company
          .logo__visa
            = link_to '#' do
              = image_tag 'logo/logo_visa.gif', alt: 'visa', height: '25px'
          .logo__mastercard
            = link_to '#' do
              = image_tag 'logo/logo_mastercard.gif', alt: 'mastercard', height: '25px'
          .logo__diners
            = link_to '#' do
              = image_tag 'logo/diners_logo_white.gif', alt: 'diners', height: '25px'
      .expiration__date
        .expiration__date__text
          .date__text 有効期限
          .must__number 必須
        .expiration__date__contents
          %input.month__date{type: "text"}
          .month__text 月
          %input.year__date{type: "text"}
          .year__text 年
      .security__code
        .security__code__text
          .code__text セキュリティーコード
          .must__number 必須
        .security__code__contents
          %input.security__code__numbers{type: "text", placeholder: "カード背面4桁もしくは3桁の番号"}
        .security__code__backnumber
          .security__code__backnumber__question ?
          .security__code__backnumber__text カード裏面の番号とは？
      %button.add__button{type: "submit"} 追加する
      .back__text もどる